button {
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  background-color: var(--clr-primary);
}

button:hover {
  backdrop-filter: brightness(1.5);
}

.save,
.delete {
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: rgb(34, 116, 34);
}

.save:hover {
  background-color: rgb(19, 68, 19);
}

.delete {
  background-color: rgb(167, 37, 37);
}

.delete:hover {
  background-color: rgb(90, 19, 19);
}
